.img-hole {
  --x: -60px;
  --y: -60px;
  --size: 70px;
  --initial-size: 70px;
  --image: url();

  /* transition: 0.2s all;
  -webkit-animation: mask-play 1.4s steps(22) forwards;
  animation: mask-play 1.4s steps(22) forwards; */
}

@keyframes mask-animation {
  from {
    mask-image: radial-gradient(
      var(--initial-size) at var(--x) var(--y),
      transparent 95%,
      black 100%
    );
  }
  to {
    mask-image: radial-gradient(
      var(--size) at var(--x) var(--y),
      transparent 95%,
      black 100%
    );
  }
}

.img-hole::after {
  @apply h-[390px] lg:h-[432px] object-cover rounded-lg border-[1px] border-black border-opacity-20;

  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--image);
  background-size: cover;
  z-index: 1;

  mask-repeat: no-repeat no-repeat;
  mask-image: radial-gradient(
    var(--size) at var(--x) var(--y),
    transparent 95%,
    black 100%
  );

  -webkit-mask-repeat: no-repeat no-repeat;
  -webkit-mask-image: radial-gradient(
    var(--size) at var(--x) var(--y),
    transparent 95%,
    black 100%
  );
}
